
<div class="front">
<div class="card frontB" style="width: 25rem;">
  <div class="card-body">
    <h2 class="card-title">Welcome to Drone Iventory</h5>
    
    <h6 class="card-subtitle mb-2 text-muted">{{title}}</h6>
    <br>
    <p class="card-text">Use the app to have the daily inventory of drone stock actual.Select one of the beneath options.</p>
    <br>
    <div class="blink">
    <a href="/drones/list" class="card-link cardC">List of Drones Available</a>
    <a href="/drones/create" class="card-link cardC">Create a new Drone</a>
    </div>
  </div>
</div>
</div>



